@media only screen and (max-width: 767px) and (min-width: 320px) {
  ul.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
  }

  ul.navbar-nav > li.nav-item > ul.dropdown-menu {
    transform: translateY(0);
    display: none;
  }

  ul.navbar-nav > li.nav-item > ul.dropdown-menu.show {
    display: block;
    position: relative;
    width: 100%;
}
  ul.navbar-nav li.nav-item a.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul.navbar-nav li.nav-item a.nav-link span.navbar-dropdown-icon svg {
    font-size: 18px;
  }

  ul.navbar-nav li.nav-item {
    margin: 6px 10px;
  }

  li.nav-item.dropdown ul.dropdown {
    padding-left: 0;
    background-color: #fff;
  }
}
